{% extends 'base.html.twig' %}

{% block title %}Ta galerie photo
{% endblock %}

{% block body %}
	<h1 class="text-center">Bienvenue dans ta Galerie Photo
		{{ app.user.pseudo }}</h1>
{% endblock %}
