{% extends 'base.html.twig' %}

{% block title %}Accueil Galerie photo
{% endblock %}

{% block body %}
	<h1 class="text-center">Bienvenue dans ta galerie photo</h1>
	<p class="text-center">
		Dans un premier temps connecte toi ou inscrit toi.
	</p>
	<div class="row text-center  mt-3">
		<div class="col-sm">
			<a class="button" href="{{ path('register') }}">
				s'inscrire
			</a>
		</div>
		<div class="col-sm">
			<a class="button">
				se connecter
			</a>
		</div>
	</div>

{% endblock %}
